$primary-color: #15202B;
$secondary-color: #1a2734;
$button-color: #009BF9;
$text-color: #6ec1e4;
$white-color: #fff;

//Variables del color light
$color-light-header: #fff;
$color-light-primary: #f5f5f5;
$color-light-black: #000;
$color-light-text: #2a3b47;

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:active{
  background-color: #999999;
}
::-webkit-scrollbar-track{
  background: #fff;
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active{
  background: #fff;
}

//Configuracion del navegador
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;  
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}
.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 40px;
  height: 30px;
  background-image: url(../img/white-logo.png);
  background-size: contain;
}
.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
  span{
    display: block;
    height: 3px;
    background-color: $white-color;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
  }
}
.navbar-menu a{
  color: $white-color;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}
.navbar-menu a:hover{
  color: $button-color !important;
}
.sticky{
  background-color: $color-light-header;
  padding: 18px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);

  body.dark & {
    background-color: $secondary-color;
    transition: .3s ease all;
  }
}
.sticky .logo{
  background-image: url(../img/black-logo.png);
  body.dark & {
    background-image: url(../img/white-logo.png);
  }
}
.sticky .navbar-menu a{
  color: #000;
  body.dark & {
    color: $white-color;
  }
}
.sticky .menu-toggler span{
  background-color: $white-color;
}

.switch{
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  }
  &.active{
    background: orange;
    color: #000;
    &::after{
      right: 0;
      left: unset;
    }
  }
  span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
}

/*Cambiar de color*/
body{
  background: $primary-color;
  &.dark{
    background: $primary-color;
    transition: .3s ease all;
  }
}

//Home
#home{
  height: 100vh;
  min-height: 500px;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
#home .content{
  width: 100%;
  color: $white-color;
}
#home .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}
#home .content h1::after{
  content: "Leodan";
  animation: animacion 10s linear infinite;
}
@keyframes animacion {
  25%{
    content: "A Developer";
  }
  50%{
    content: "A Designer";
  }
  75%{
    content: "A Youtuber";
  }
}

.sm a {
  color: $white-color;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;

  &:hover{
    color: $button-color;
  }
}
#home .buttons{
  margin-top: 60px;
  a{
    display: inline-block;
    margin: 15px 30px;
    color: $button-color;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid $button-color;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
  }
}
#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background-color: $button-color;
  color: $white-color;
}

/*=====================================================
acerca de
=======================================================*/
section{
  padding: 100px 0;
  background-color: #f5f5f5;
  body.dark & {
    background-color: $primary-color;
    transition: .3s ease all;
  }
}
.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #15202B;
  body.dark & {
    color: $white-color;
  }
}
.section-title::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: $button-color;
  bottom: 0;
  left: calc(50% - 40px);
}
.section-title::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: $button-color;
  border: 4px solid $primary-color;
  body.dark & {
    border: 4px solid $white-color;
  }
  left: calc(50% - 12px);
  bottom: -7px;
}
.about-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-pic {
  width: 200px;
  border-radius: 50%;
  margin-right: 100px;
}
.about-text{
  flex: 1;
  h2 {
    color: #000;
    body.dark & {
      color: $button-color;
    }
  }
  h3{
    margin: 10px 0;
    color: #808080;
    body.dark & {
      color: $text-color;
    }
    font-size: 16px;
  }
}
.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
  content: "";
  height: 6px;
  width: 6px;
  background-color: #808080;
  body.dark & {
    background-color: $text-color;
  }
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}
.about-text p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
  color: #697477;
  body.dark & {
    color: $white-color;
  }
}
.skills{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill{
  width: calc(50% - 20px);
  margin: 15px 0;
}
.skill-info{
  display: flex;
  justify-content: space-between;
  span{
    color: #000;
    body.dark & {
      color: $white-color;
    }
  }
}
.skill-bar{
  height: 6px;
  background-color: #ddd;
  margin-top: 14px;
  position: relative;
  border-radius: 4px;

  &::after{
    content: "";
    position: absolute;
    height: 6px;
    background-color: $button-color;
    bottom: 0;
    border-radius: 4px;
  }
}

.html:after{
  width: 90%;
}

//=================== SERVICIOS =============
section.dark {
  color: $color-light-text;
}
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service{
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid $color-light-header;
  background: $color-light-header;
  box-shadow: 0px 0px 10px 1px rgba(228,228, 228, 0.75);
  border-radius: 6px;
  margin: 20px 0;
  padding: 40px 20px;
  color: $color-light-black;
  cursor: pointer;
  transition: .3s linear;
  body.dark & {
    border: 1px solid $button-color;
    background: $primary-color;
    color: $white-color;    
    box-shadow: 0px 0px 10px 1px rgba(26, 39, 52, 0.75);
    transition: .3s ease all;
  }
  .icon{
    color: $button-color;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;    
  }
  h4{
    font-size: 16px;
    margin-bottom: 6px;
    &:hover{
      color: $white-color;
    }
  }
  p{
    color: #697477;
    body.dark & {
      color: $white-color;
    }
  }
  &:hover{
    background-color: $button-color; 
    body.dark & {
      background-color: $button-color;
    }  
  }
}
.service:hover .icon{
  color: $white-color;
}

/*===================== TIME LINE ===================*/
.time-line, .works{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block{
  width: calc(50% - 20px);
  background-color: $white-color;
  border: 1px solid $color-light-header;
  border-radius: 15px;
  margin: 10px 0;
  padding: 30px;
  position: relative;
  body.dark & {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
  &::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: $color-light-black;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    body.dark & {
      background-color: $white-color;
    }
  }
  &::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $color-light-text;
    left: -28px;
    top: 30px;
    border-radius: 50%;
    body.dark & {
      background-color: $button-color;
    }
  }
}
.block h3 {
  color: #2a3b47;
  font-size: 16px;
  margin: 10px 0;
  body.dark & {
    color: $white-color;
  }
}
.block h4{
  color: $button-color;
}
.block p{
  font-size: 15px;
  color: #697477;
  body.dark & {
    color: #7a949b;
  }
}

//==================== IMAGENES GALLERYS =============
.work{
  width: calc(33% - 10px);
  overflow: hidden;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}
.work img {
  width: 100%;
  height: 100%;
  transition: .4s linear;
}
.work::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #48dbfbcc;
  transition: .2s linear;
  opacity: 0;
  transform: scale(0);
}
.work .info{
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  color: $white-color;
  transition: .4s linear;
  opacity: 0;
}
.work:hover img{
  transform: scale(1.6) rotate(25deg);
}
.work:hover::before,
.work:hover .info{
  opacity: 1;
  transform: scale(1);
}
/*
================ CONTACTENOS ====================
*/
.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.contact-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: $color-light-header;
  color: #2a3b47;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
  box-shadow: 0px 0px 5px 5px rgba(230,229,229,0.8);
  body.dark & {
    background-color: $secondary-color;
    color: $white-color;
    box-shadow: 0px 0px 1px 1px rgba(26,39,52,0.1);
  }
  &:hover{
    background-color: $button-color;
    color: $white-color;
    body.dark & {
      color: $button-color;
    }
  }
}
.contact-info i {
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}
.contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  input, textarea{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: $color-light-header;
    body.dark & {
      background-color: $secondary-color;
      color: $white-color;
      border: 1px solid $secondary-color;    
    }
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: $color-light-black;
    border: 1px solid #cfcfd1;
  }
  .btn{
    width: 180px;
    background-color: transparent;
    color: $color-light-text;
    font-size: 16px;
    border: 1px solid $button-color;
    body.dark & {
      border: 1px solid $button-color;
    }
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;

    &:hover{
      background-color: $button-color;
      color: $white-color;
    }
  }
}
.nameZone, .emailZone{
  max-width: calc(50% - 10px);
}
.messageZone {
  min-height: 200px;
  resize: vertical;
}

/*Footer*/
footer{
  //background-color: #000;
  color: $white-color;
  background: url(../img/bg.jpg);
  padding: 80px 0;
  text-align: center;
}
.copyright {
  margin-bottom: 20px;
  font-size: 15px;
  a {
    font-size: 16px;
    color: $button-color;
    font-weight: 500;
  }
}
.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: $button-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: $white-color;
  font-size: 20px;
  outline: none;
  display: none;
}

/*Media Querys*/
@media screen and (max-width: 980px) {
  .menu-toggler{
    display: block;
  }
  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: $secondary-color;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }
  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }
  .sticky .navbar-menu{
    background-color: $secondary-color;
  }
  .navbar-menu.active{
    right: 0;
  }
  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }
  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }
  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
  .inner-width{
    max-width: 800px;
  }
  .about-pic{
    margin: 0 auto 60px;
  }
  .about-text{
    text-align: center;
    flex: 100%;
  }
  .service{
    width: calc(50% - 20px);
  }
  .block{
    width: calc(100% - 20px);
    margin-left: auto;
  }
  .work{
    width: calc(50% - 10px);
  }
  .contact-info .item{
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .inner-width{
    padding: 0 20px;
  }
  .skill{
    width: 100%;
  }
  .service{
    width: 100%
  }
  .work{
    width: 100%
  }
  .nameZone, .emailZone{
    max-width: 100%;
  }
}